body {
    color: black;
}

header,
main,
footer {
    padding-left: 300px;
}

a {
    color: black !important;
}

#logo {
    margin-left: 10px;
    color: black;
}

#nav {
    box-shadow: none!important;
}

#slide-out {
    background-color: #E6E8E6;
}

.side-nav {
    margin-top: 20px;
}


 
@media only screen and (max-width : 992px) {

    header,
    body,
    footer {
        padding-left: 0;
    }
}

@media only screen and (max-width : 102px) {

    header,
    body,
    main,
    footer {
        padding-left: 0;
    }
}

@media only screen and (max-width : 500px) {

    header,
    main,
    footer {
        padding-left: 0;
    }
}